@model Company

<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h2 class="text-primary fw-bold mb-3">@(Model.Id!=0 ? "Update": "Create")</h2>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" ></div>
            <input asp-for="Id" hidden />
            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter company name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>          
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label fw-bold"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StreetAddress" class="form-label fw-bold"></label>
                <input asp-for="StreetAddress" class="form-control" placeholder="Enter street address" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City" class="form-label fw-bold"></label>
                <input asp-for="City" class="form-control" placeholder="Enter city" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Country" class="form-label fw-bold"></label>
                <input asp-for="Country" class="form-control" placeholder="Enter country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PostalCode" class="form-label fw-bold"></label>
                <input asp-for="PostalCode" class="form-control" placeholder="Enter postal code" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>           
            <div class="d-flex justify-content-between">
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-success shadow-sm px-4">Update Company</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success shadow-sm px-4">Create Company</button>
                }
                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary shadow-sm px-4">Back To Companies</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Feb 24, 2025:
            'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
