@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Order placed successfully!!!</h1>
		Your order Number is : @Model <br /><br/>
		<img src="~/images/order-confirmed-illustration-download-in-svg-png-gif-file-formats--shopping-online-confirmation-successful-handy-pack-delivery-illustrations-4273317.png" width="70%"/>
	</div>
</div>


